body {
    background-color: lightblue;
}
h1 {
    font-size: 50px; 
    text-align: center;
}
img {
    display: block; max-width: 100%; height: auto; margin: auto;
}
div{
    margin: auto; width: 50%;
}
p {
    text-align: justify;
}